@import url("require:CommonStyles/styles/reset.less");
@import url("require:CommonStyles/styles/variables.less");
@import url("require:CommonStyles/styles/button.less");
@import url("require:CommonStyles/styles/rounded-corners.less");
@import url("require:Facets/styles/facets.less");
@import url("require:MapView/styles/mapview.less");
@import url("require:qtip/jquery.qtip.css");
@import url("require:uiExtras/styles/jquery.ui.selectmenu.css");
@import url("require:Util/styles/util.less");
@import url("require:ui/css/smoothness/jquery-ui-1.9.1.custom.css");
@import url("require:tabble/jquery.ui.tabble.less");

@import "SummaryBar.less";

.dataview{
  position: relative;
  padding: 5px 5px 10px 5px;
  display: inline-block;
  > table {
    width: 100%;
    height: 100%;
    min-height: 300px;

    > tbody > tr > td > .ui-tabble-tab {
      background-color: inherit;
    }
  }

  .dataview-title {
    .rounded_corners;
    padding: @padding_normal;
    margin-bottom: @padding_normal;
    background-color: @chrome_secondary;
    font-size: 150%;
    text-align: center;
  }

  .dataview-right-table-cell {
    min-width: 300px;
  }

  .dataview-right-table {
    height: 100%;
    width: 100%;
    > tbody > tr:first-child {
      height: 0;
    }

    > tbody > tr > td {
      padding: @padding_normal;
    }
  }

  .summary-bar-cell {
    height: 0;
  }

  .map-editor-cell {
    height: auto;
    position: relative;
  }

  .map-editor-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .facets-header {
    .button;
  }

  .facets-editor {
    height: 100%;
    width: 260px;
  }

  .map-editor {
    z-index: 0; // For stackign qtip correctly under overlay.
    height: 100%;
    width: 100%;
    min-width: 240px;
  }

  .dataview-loading-overlay {
    display: none;
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    opacity: .85;

    .loading-icon {
      .rounded_corners;
      margin-left: auto;
      margin-right: auto;
      margin-top: 10%;
      width: 85%;
      max-width: 200px;
      height: 85%;
      max-height: 200px;
      background: url(images/loading-placeholder.gif) center center no-repeat; 
      background-size: 100%;
    }
  }


  .info-tip{
    &.qtip {
      border-width: 1px;
      border-style: solid;
      border-color: #999 #666 #666 #999;
      background-color: white;
    }
    > .content{
      display: none;
    }
  }
}

.dataview.loading {
  .dataview-loading-overlay {
    display: block;
  }
}
