@import url("require:CommonStyles/styles/reset.less");
@import url("require:CommonStyles/styles/variables.less");
@import url("require:CommonStyles/styles/button.less");
@import url("require:CommonStyles/styles/rounded-corners.less");
@import url("require:Facets/styles/facets.less");
@import url("require:MapView/styles/mapview.less");
@import url("require:qtip/jquery.qtip.css");
@import url("require:uiExtras/styles/jquery.ui.selectmenu.css");
@import url("require:Util/styles/util.less");
@import url("require:Windows/styles/windows.less");
@import url("require:ui/css/smoothness/jquery-ui-1.9.1.custom.css");
@import 'DataView.less';

.georefine-client{
  > .inner {
    height: 100%;
    width: 100%;
    position: relative;

    > .header-cell{
      border-bottom: thin solid gray;
      width: 100%;
      padding: 5px;
    }

    .share-launcher {
      .button;
      display: inline-block;
    }

    .launchers-table {
      ul {
        margin: 0;
        padding: 0;
      }

      li {
        .button;
        display: inline-block;
        margin: 2px 5px;
      }
    }

    > .data-views-cell{
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 5px;
    }
  }

  .data-views-container{
    position: absolute;
    top: 10px;
    left: 10px;
    width: 3000px;
    height: 3000px;
  }

  .data-views-invitation {
    .rounded_corners;
    position: absolute;
    width: 80%;
    left: 10%;
    top: 10%;
    text-align: center;
    font-size: 150%;
    padding: 15px;
    background-color: @chrome_secondary;
    border-color: @chrome_primary;
    border-width: medium;
    border-style: solid;
  }

  .share-link-form-tooltip {
    background-color: #ffffff;
    border-color: #ccc;
    max-width: none;
  }

  .info-button {
    > .content {
      display: none;
    }
  }

  .info-tip.qtip{
    border-width: 1px;
    border-style: solid;
    border-color: #999 #666 #666 #999;
    background-color: white;
  }
}
