@import url("require:CommonStyles/styles/reset.less");
@import url("require:CommonStyles/styles/variables.less");
@import url("require:CommonStyles/styles/button.less");
@import url("require:CommonStyles/styles/rounded-corners.less");
@import url("require:Facets/styles/facets.less");
@import url("require:MapView/styles/mapview.less");
@import url("require:qtip/jquery.qtip.css");
@import url("require:uiExtras/styles/jquery.ui.selectmenu.css");
@import url("require:Util/styles/util.less");
@import url("require:Windows/styles/windows.less");
@import url("require:ui/css/smoothness/jquery-ui-1.9.1.custom.css");
@import 'DataView.less';

.georefine-client{
  > table {
    border: thin solid black;
    height: 100%;
    width: 100%;
    > tbody > tr > td {
      vertical-align: top;
    }

    .header-row {
      height: 0;
    }
  }

  .data-views-container{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: scroll;
  }
}
