<table>
    <tbody>
    <tr>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td class="expanded">
            <div>
                <h3 class="facets-header">Facets/Filters</h3>
                <div class="facets-editor">
                    Facets Editor
                </div>
            </div>
        </td>
        <td>
            <div>
                <div class="summary-bar-cell">
                    <div class="summary-bar">
                        Summary Bar
                    </div>
                </div>
                <div class="map-editor-cell">
                    <div class="map-editor">
                        Map
                    </div>
                </div>
            </div>
        </td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    </tbody>
</table>
