<h3 class="dataview-title"></h3>
<table>
    <tbody>
    <tr>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td class="dataview-facets-cell expanded">
            <div>
                <h3 class="facets-header">Facets/Filters</h3>
                <div class="facets-editor">
                    Facets Editor
                </div>
            </div>
        </td>
        <td class="dataview-right-table-cell">
            <table class="dataview-right-table">
                <tbody>
                    <tr>
                        <td class="summary-bar-cell">
                            <div class="summary-bar"></div>
                        </td>
                    </tr>
                    <tr>
                        <td class="map-editor-cell" style="position:relative;">
                            <div class="map-editor-container">
                                <div class="map-editor"></div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    </tbody>
</table>

<div class="dataview-loading-overlay">
    <div class="loading-icon"></div>
</div> 

