<button class="saveTestState">Save Test State</button>
<button class="showTestState">Show Test State</button>
<div class="inner">
    <div class="header-cell">
        <table class="launchers-table">
            <tbody>
            </tbody>
        </table>
        <div class="share-launcher">Share link...</div>
    </div>

    <div class="data-views-cell">
        <div class="data-views-container">
            <div class="data-views-invitation">
                Getting started? Click on one of the fields above to view data.
            </div>
        </div>
        <div class="data-views-constraint">
        </div>
    </div>
</div>
