<div class="inner">
    <div class="header-cell">
        <select id="qFieldSelector" style="float: left;">
            <option></option>
        </select>
        <div class="button addView" style="display: inline-block; float: left;">+ Add</div>
        <div class="button cloneTest" style="display: inline-block;">Clone Test</div>
    </div>
    <div class="data-views-cell">
        <div class="data-views-container">
        </div>
        <div class="data-views-constraint">
        </div>
    </div>
</div>
